<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--ioc-->
 <bean id="user" class="cn.ioc.User"></bean>

    <!--静态工厂创建对象-->
    <bean id="bean2" class="cn.bean.Bean2Factory" factory-method="getBean2"></bean>
</beans>

